body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  line-height: 1.5em;
}



img {
  width: 100%;
  /* height: auto; */
}

body p {
  font-size: 16px;
  line-height: 1.5em;
  color: #262626;
}

body a {
  text-decoration: none;
}

/* header styling */
#header_area img {
  max-width: 100%;
  padding: 10px 0;
  max-height: 90px;
  object-fit: contain;
}

#header_area {
  padding: 15px 0;
}

#header_area .col-md-9 ul {
  font-family: "Oswald", sans-serif;
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
#header_area .col-md-9 ul li {
  display: inline-block;
  position: relative;
}
#header_area .col-md-9 ul li a {
  color: #262626;
  padding: 20px 10px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
}
#header_area .col-md-9 ul li a:hover {
  background: #9240bc;
  color: #fff;
}

/*Dropdown Menu*/
#header_area .col-md-9 ul li ul {
  background: #262626 none repeat scroll 0 0;
  left: -99999px;
  margin: 0;
  position: absolute;
  text-align: left;
  top: 62px;
  width: 200px;
}
#header_area .col-md-9 ul li:hover ul {
  left: 0px;
}
#header_area .col-md-9 ul li ul li {
  display: block;
}
#header_area .col-md-9 ul li ul li a {
  color: #fff;
  padding: 8px 10px;
}
#header_area .col-md-9 ul li ul li a:hover {
  background: #ddd;
  color: #262626;
}
#header_area .col-md-9 ul li:hover a {
  background: #9240bc;
  color: #fff;
}
#header_area .col-md-9 ul li:hover ul li a {
  background: none;
  color: #fff;
}

/*Sub Dropdown Menu*/
#header_area .col-md-9 ul li ul ul {
  left: -99999px;
  top: 0;
  position: absolute;
}
#header_area .col-md-9 ul li:hover ul li ul {
  left: -999999px;
}
#header_area .col-md-9 ul li ul li:hover ul {
  left: 200px;
}
#header_area .col-md-9 ul li ul li:hover a {
  background: #9240bc;
  color: #fff;
}
#header_area .col-md-9 ul ul li:hover ul li a {
  background: #262626;
  color: #fff;
}
#header_area .col-md-9 ul ul li ul li a:hover {
  background: #9240bc;
  color: #fff;
}

/*===========================
    Menu Position
    ===========================*/

#header_area.left_menu .col-md-3 {
  order: 2;
}

#header_area.left_menu .col-md-9 {
  order: 1;
}

#header_area.left_menu .col-md-9 ul {
  text-align: left;
}
#header_area.center_menu .col-md-3 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

#header_area.center_menu .col-md-9 {
  width: 100%;
}

#header_area.center_menu .col-md-9 ul {
  text-align: center;
}
#header_area.center_menu .col-md-9 ul ul {
  text-align: left;
}

/* =================
Walker Nav
================== */

#header_area ul li a span {
  display: block;
  font-size: 14px;
}

/* ======== Sidebar Styling========== */



.child_sidebar h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.child_sidebar input[type="search"] {
  background: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  outline: 0;
}

.child_sidebar button[type="submit"] {
  background-color: #fff;
  background-image: linear-gradient(#9240bc, #9240bc);
  background-size: 12px 100%;
  background-repeat: no-repeat;
  background-position: left center;
  transition: background-size 0.3s ease-in-out, color 0.3s ease-in-out;
  padding: 8px 24px;
  color: #9240bc;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #9240bc;
}

.child_sidebar button[type="submit"]:hover {
  background-size: 100% 100%;
  color: #fff;
}

.child_sidebar ul li {
  margin-bottom: 4px;
}

.child_sidebar ul li a {

  color: #262626;
  padding: 2px 0;
  text-decoration: none;
  font-weight: 600;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 1px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.3s ease-in-out, color 0.3s ease-in-out;
}

.child_sidebar .tag-cloud-link {
  color: #262626;
  padding: 4px 8px;
  text-decoration: none;
  font-weight: 600;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 1px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.3s ease-in-out, color 0.3s ease-in-out;
  font-size: 12px !important;
  border: 1px solid #262626;
  border-radius: 4px;
  margin-bottom: 8px;
}

.child_sidebar .tag-cloud-link:hover {
  color: #9240bc;
  background-size: 100% 1px;
}
.child_sidebar ul li a:hover {
  color: #9240bc;
  background-size: 100% 1px;
}

/*============
Footer
============== */

#main_footer {
  background-color: #262626;
  padding: 110px 50px;
  border-bottom: 1px solid #dddddd27;
}

#main_footer .child_sidebar h2,#main_footer .child_sidebar p, #main_footer .child_sidebar a {
  color: #fff;
}
#main_footer .child_sidebar ul {
  padding: 0;
  list-style: none;
}
#main_footer .child_sidebar ul li ul {
  display: none;
}

#main_footer .child_sidebar p {
  padding-right: 124px;
}

#main_footer .wp-block-social-link {
  width: 32px;
  height: 32px;
}

#main_footer .wp-block-social-link a {
  text-align: center;
}

#main_footer .wp-block-social-link a {
  text-align: center;
}

#main_footer .wp-block-social-link a:hover {
  background-size: 0 0;
} 



#copy_area {
  background: #262626;
  padding: 24px 0;
  text-align: center;
  margin: auto 0;
}

#copy_area p {
  color: #fff;
  margin: 0;
}

#copy_area a {
  color: #dcdcdc;
  padding: 2px 0;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 1px;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: background-size 0.3s ease-in-out, color 0.3s ease-in-out;
}

#copy_area a:hover {
  color: #fff;
  background-size: 100% 1px;
}

/* Post details */

.blog_area {
  padding: 24px;
  /* background: #ffffff; */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);

  border-radius: 8px;
  margin: 12px 0;
}

.post_thumb {
  overflow: hidden;
  margin-bottom: 16px;
  border-radius: 8px;
}

.post_thumb img {
  width: 100%;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}
.post_thumb img:hover {
  transform: scale(1.1);
}

.post_title a {
  color: #262626;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 1px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.5s ease-in-out, color 0.5s ease-in-out;
}

.post_title a:hover {
  color: #9240bc;
  background-size: 100% 1px;
}

.post_details .readmore {
  background-image: linear-gradient(#9240bc, #9240bc);
  background-size: 12px 100%;
  background-repeat: no-repeat;
  background-position: left center;
  transition: background-size 0.3s ease-in-out, color 0.3s ease-in-out;
  padding: 12px 24px;
  color: #9240bc;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #9240bc;
}
.post_details .readmore:hover {
  background-size: 100% 100%;
  color: #fff;
}
